<%- include('partials/small-header', {
    link: '404.css'
}) %>

<div class="notfound">
    <h1>404</h1>
    <div class="notfound__text">
        <h2>Oops, the page you're looking for does not exist.</h2>
    </div>
</div>

<%- include('partials/footer') %>